<!DOCTYPE html>
<html>
<head>
  <title>Testrails</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <%= yield :head %>
  <script type="text/javascript">
    <%= yield :js %>
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
